<domain xmlns:qemu='http://libvirt.org/schemas/domain/qemu/1.0' type='kvm'  >
  <name>{{ item.name }}.{{ cluster.compute.vms_domain }}</name>
  <memory unit='MB'>{{ item.memory }}</memory>
  <vcpu>{{ item.cpus }}</vcpu>  
  <os>
    <type arch="x86_64">hvm</type>
    <boot dev="hd"/>
  </os>
  <features>
    <acpi/>
    <apic/>
  </features>
  <cpu mode="host-model"/>
  <clock offset="utc">
    <timer name="rtc" tickpolicy="catchup"/>
    <timer name="pit" tickpolicy="delay"/>
    <timer name="hpet" present="no"/>
  </clock>
  <pm>
    <suspend-to-mem enabled="no"/>
    <suspend-to-disk enabled="no"/>
  </pm>  
  <devices>
  {% if cluster.use_tpm %}}
    <tpm model='tpm-tis'>
      <backend type='emulator' version='2.0'>
      </backend>
    </tpm>
  {% endif %}}    
    <emulator>/usr/bin/qemu-system-x86_64</emulator>
    <disk type="file" device="disk">
      <driver name="qemu" type="qcow2"/>
      <source file='{{ item.image_file_name }}'/>
      <target dev="vda" bus="virtio"/>
    </disk>    
    <controller type="usb" index="0" model="ich9-ehci1"/>
    <controller type="usb" index="0" model="ich9-uhci1">
      <master startport="0"/>
    </controller>
    <controller type="usb" index="0" model="ich9-uhci2">
      <master startport="2"/>
    </controller>
    <controller type="usb" index="0" model="ich9-uhci3">
      <master startport="4"/>
    </controller>
    <interface type="network">
      <source network='{{ install_config.metadata.name }}'/>
      <mac address='{{ item.mac }}'/>
      <model type="virtio"/>
    </interface>
    <console type="pty">
      <log file="/var/log/libvirt/qemu/{{ item.name }}.log" append="off"/>
    </console>  
    <channel type="unix">
      <source mode="bind"/>
      <target type="virtio" name="org.qemu.guest_agent.0"/>
    </channel>
    <graphics type="vnc" port="-1"/>
    <video>
      <model type="qxl"/>
    </video>
    <memballoon model="virtio"/>
    <rng model="virtio">
      <backend model="random">/dev/urandom</backend>
    </rng>
  </devices>
  <qemu:commandline>
    <qemu:arg value="-fw_cfg"/>
    <qemu:arg value="name=opt/com.coreos/config,file={{ item.ign_file_name }}"/>
  </qemu:commandline>  
</domain>
