{{ lookup("file", lookup("env", "PULL_SECRET_FILE")) | from_json | combine({"auths":{ cluster.compute.registry_mirror.name~'.'~install_config.baseDomain~':5000' : {
  "auth": (mirror.username~':'~mirror.password)|b64encode ,
  "email": "you@example.com"
}}}, recursive=True ) | to_nice_json }}