apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  name: master-tang
  labels:
    machineconfiguration.openshift.io/role: master
spec:
  config:
    ignition:
      version: 2.2.0
    storage:
      files:
      - contents:
          #source: data:text/plain;base64,e30K
          source: data:text/plain;base64,{{ lookup('template','tang-config.json.j2',convert_data=False) | b64encode }}
        filesystem: root
        mode: 420
        path: /etc/clevis.json